name: Latest release on CLN v25.09.x

on:
    release:
        types: [published, edited]
    workflow_dispatch:

jobs:
    call-ci:
        uses: ./.github/workflows/ci.yml
        with:
            cln-version: "v25.09.3"
            pyln-version: "25.9.3"
            tagged-release: true
